.font-1-m32 {
  font: 500 2rem/1 "Montserrat", sans-serif;
}

.font-1-sb18 {
  font: 600 1.125rem/0.75 "Montserrat", sans-serif;
}

.font-1-b {
  font: 700 2.25rem/1.5 "Montserrat", sans-serif;
}

.font-1-m24 {
  font: 500 1.5rem/0.75 "Montserrat", sans-serif;
}

.font-1-r {
  font: 400 1.5rem/1 "Montserrat", sans-serif;
}

.font-1-sb24 {
  font: 600 1.5/1 "Montserrat", sans-serif;
}

.font-1-m28 {
  font: 500 1.75rem / auto "Montserrat", sans-serif;
}

.font-1-sb40 {
  font: 600 2.5rem/1.25 "Montserrat", sans-serif;
}

.font-1-sb15 {
  font: 600 0.93rem/0.625 "Montserrat", sans-serif;
}

.font-1-m40 {
  font: 500 2.5rem/1.25 "Montserrat", sans-serif;
}

.font-1-sb32 {
  font: 600 2rem/1.33 "Montserrat", sans-serif;
}

.font-1-m16 {
  font: 500 1rem/0.66 "Montserrat", sans-serif;
}

.font-1-m20 {
  font: 500 1.25rem / auto "Montserrat", sans-serif;
}

.font-1-m18 {
  font: 500 1.125rem / auto "Montserrat", sans-serif;
}

.font-2-b18 {
  font: 700 1.125rem/0.75 "Merriweather", sans-serif;
}

.font-2-i96 {
  font: italic 6rem/1 "Merriweather", sans-serif;
}
