footer {
  background-color: var(--cor-a1);
  height: 330px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}

.line p {
  text-align: start;
}

.line a {
  text-decoration: none;
}

.especial {
  margin-top: 80px;
}

.especial p {
  text-align: start;
}
